*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.body{
    background-color: #121212;
}
.container{
    background-color: #121212;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{display: inherit;
    flex-direction: inherit;
    background-color: #202020;
    margin-top: 40px;
    width: 470px;
    border-radius: 5px;
}
.inner-box{
    margin: 50px;
    border: 1px solid blue;
    display: inherit;
    flex-direction: inherit;
}
.logo{
    width: 100%;
    height: 10px;
}
.heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
    margin-top: 20px;
    color: white;
    padding-left: 30px;
    word-spacing: 2px;
    margin-bottom: 10px;
}
.heading h1{
    font-family: Brutal,sans-serif;
    font-size: 12px;

}

.inp-field{
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    /* box-sizing: border-box; */
}
.inp-field input{
    margin-bottom: 26px;
    border-radius: 4px;
    /* box-sizing: border-box; */
    height: 64px;
    border: .5px solid white;

    background: none;
}